/* tomas changes oct 22/2017 */
/* line up with logo spike */
/* Yogi's code is merged with TG's */
/* Added to keep hyperlink's color as green on home page. */

div#DeltaPlaceHolderMain a, div#DeltaPlaceHolderMain a:hover, div#DeltaPlaceHolderMain a:active, div#DeltaPlaceHolderMain a:visited {
	color:rgb(2,105,55);
	}

.ms-webpart-titleText span {
	color:rgb(2,105,55);
	}	
			

	/* footer */

.itgfooterCopyright {
    vertical-align: middle;
    color: #ffffff;
    line-height: 50px;
    margin-right: 10px;
	text-align: right;
    height: 50px;
    float:right;
    background-position: 15px 50%;
    background-repeat: no-repeat;
    clear: both;
}

/* remove the padding so footer is at bottom */
#s4-bodyContainer {
padding-bottom:0px !important;
}


	#conaFooter
	{
		
    background-image: url(https://go.conaresources.com/SiteAssets/images/CONA_bar_graphic.jpg);
    background-position-x: 0px;
    background-position-y: 0px;
	height:50px;
	

	}

	/* end footer */		
	/* left nav */
	div#DeltaPlaceHolderLeftNavBar span.menu-item-text
	{
	
		font-variant: small-caps;
		font-weight: bold;
		color: rgb(2,105,55);
	
	}
	
	div#DeltaPlaceHolderLeftNavBar a.selected
	{
		background: url(https://go.conaresources.com/SiteAssets/images/selbg.png) repeat-x left top;
		background-color: #b7e1cc !important;
		border-color: #8fc3a9 !important;
		border-top-color: #b7e1cc !important;
		border-width: 1px !important;
		/* padding-left: 9px !important; */
		color: #003759 !important;
	
	}
	div#DeltaPlaceHolderLeftNavBar a.ms-core-listMenu-item:hover
	{
	background-color:white;
	text-decoration: underline;
	}
	
	/* end left nav */
	
	/* hide sharepoint logo */
	span.o365cs-nav-brandingText
	{
		visibility: hidden;
	}
	
	.homelinkContainer
	{
		border:1px solid black;
	}
	
	.upcomingEventItem
	{
		color:#024525;
	}
	
	.upcomingEventItem > span.upcomingeventtext
	{
		display:inline-block;
		width:170px;
	}
	.upcomingEventItem > span.upcomingeventDate
	{
		margin-left:15px;
		display:inline-block;
	}
	
	/* stock styles */
	.stockttext,  .stockttext:hover,.stockttext:active,.stockttext:visited
	{
	FONT-SIZE: 11pt; 
	PADDING-RIGHT: 5px;
	color:rgb(2,105,55);
	text-decoration: none;
	}
	.stockcontainer
	{
		float:right;
	margin-left:70px;
	margin-top:20px
	}
	/*end stock styles */
	
	.ms-core-navigationXYZ { DISPLAY: none }
	
	/*#sideNavBox { DISPLAY: none } */
	
	
	/* this controls the bar with Share follow */
	#s4-ribboncont {
	background-color:#000000;}
	
	.ms-core-pageTitle, .ms-core-pageTitle a
	{
		color:white !important;
	}
	
	/* To change EDIT LINKS to white */
	
	a[title='Edit Links'][id $= 'TopNavigationMenu_NavMenu_EditLinks'].ms-navedit-editLinksText > span > .ms-metadata,
	a[title='Edit Links'][id $= 'TopNavigationMenu_NavMenu_EditLinks'].ms-navedit-editLinksText:hover > span > .ms-metadata
	{
	  color:white;
	}
	
	#PSRightNav{
		float: left;
	}
	
	.ms-srch-sb {display:none;}
	
	/* Added by YS for adjustment of SuiteBar and Top margin */
	/* #RibbonContainer-TabRowRight a[id$=site_share_button] {
	display: none !important;
	} */

    #RibbonContainer-TabRowRight { display: none !important;}
	
	/* Reset Suite Bar container height */
	#suiteBarTop {
		height: 27px !important;
	}
	 
	/* Change height of all sub components in Suite Bar */
	#suiteBarDelta .o365cs-nav-header16,
	#suiteBarDelta .o365cs-nav-o365Branding,
	#suiteBarDelta .o365cs-nav-button,	
	#suiteBarDelta .o365cs-me-tile-nophoto,
	#suiteBarDelta .o365cs-me-tile-nophoto-username-container,
	#suiteBarDelta .o365cs-me-tile-nophoto-username,
	#suiteBarDelta .o365cs-me-tile-nophoto-down
	{
		height: 27px !important;
	}

	#suiteBarDelta .o365cs-nav-contextMenu
	{
		top: 27px !important;
	}

	/*#pageTitle {display:none} */
	/*
	#DeltaPlaceHolderPageTitleInTitleArea {display:none}
	
	
	
	
	*/
	#contentRow
	{
		
		padding-top:40px;
	} 
	
	#pageTitle {
		display: block;
		font-weight: bold;
		font-size: 1.2em;
		white-space: nowrap;
		margin-left: 450px;
	}
	
	.ms-breadcrumb-top
	{
		margin-left: 450px;
	}
	
	#suiteBarTop 
	{
	background-color:#042862;
	
	}
	div#DeltaSiteLogo
	{
		display:block;
		
	}
	#s4-bodyContainer > #s4-titlerow {
	padding-bottom: 18px !important;
	background-image: url("/SiteAssets/images/CONA_bar2-2.jpg") !important;
	}
	
	.ms-breadcrumb-top .menu-item-text
	{
		color:#ffffff;
		
	}
	
	#PSRightNav{
		float: left;
	}
	
	/* Home page styles */
	/* Right Left nav */
	.homePageCategory
	{
		color:#000000;
		font-family: Arial, Helvetica, sans-serif;
		border: 1px solid #000000;	
	}
	
	div#PSRightNav > div > div
	{
		border-bottom: 1px solid #dedede;
	}
	
	
	
	div#PSMiddleContent{
	background-color:#e9eff1;
	width:70%;
	}
	
	div#PSLeftNav div
	{
		margin-bottom:10px;
		padding:5px 5px 5px 5px;
		width: 100px;
		}
		
	div#PSRightNav div
	{
		margin-bottom:1px;
		padding:5px 5px 5px 5px;
		/*width: 150px;*/
		}	
		
		div#PSLeftNav a,div#PSLeftNav a:hover,div#PSLeftNav a:active,div#PSLeftNav a:visited 
	{ 
		color: rgb(2,69,37)
	}
		div#PSRightNav a,div#PSRightNav a:hover,div#PSRightNav a:active,div#PSRightNav a:visited 
	{ 
		color: rgb(2,69,37);
	}
	/*End Right Left nav */
	
	
		.ms-promlink-header {
	display: none;
	}
		
	/* end home page */
	
	
	/* ====================================== */
	/* top nav div, ul, li, a {margin: 0; padding: 0; border: 0;} */
	/* ====================================== */
	body {
		background-color: #fff;
	}
	nav {
		/* background-color: #000000; */
		position: relative;
		width: 100%;
		margin-top:1px;
		height:28px;
		font-size:1.2em;
		background-color:#000000;
		
	}
	nav a,nav a:hover,nav a:active,nav a:visited
	{
	color: white;
	text-decoration:none;
	
	}
	
	nav td
	{
	background-color:#000000;
	}
	
	nav ul {
		list-style: none; 
		
	}
	.linkContainer
	{
		white-space: nowrap;
		padding-right:20px;
	
	}
	.linkContainer > ul > li
	{
		width: 250px;
	}
	li.mtop {
		 /* display: inline-block; */
		 background-color: #000000;
	}
	li.mtop a {
		 display: block; 
		 padding: 0.25em 1em; 
	}
	li.mtop ul
	{
		list-style:none;
		padding-left:0px;
	
	}
	
	nav ul li div { /* nested div (containing the sub nav) will be hidden by default */
		background-color: transparent;
		width: 100%;
		position: absolute;
		left: -9999px;
		z-index:999999;
		margin-top:1px;
	
	}
	nav ul li div ul {
		margin: 0 auto;
		/* width: 1024px; */
	}
	
	/* nav ul li div table */
	
	nav table.PSoutertable {
		background-color:#000000;
	   /*  margin: 0 auto;  no longer need to slide on resize*/
	   margin-left:200px;
		width: 800px; 
		border:1px solid #000000;
		margin-bottom:10px;
	}
	/*
	nav ul li div table table {
	
	}
	*/
	
	nav table.PSinsidetable
	{
		background-color:#000000;
		border:none;
		width:600px;
	
	}
	
	.menuHtmlContent
	{
	
		color:#ffffff;
	}
	.menuHtmlHeading
	{
		font-weight:bold;
		color:#ffffff;
	}
	.menuHtmlRight
	{
		width: 75%; 
		vertical-align: top; 
	
	}
	nav ul > li:hover
	{
		background-color: rgb(2,69,37); 
	
	}
	nav td > ul > li
	{
		border-bottom: 1px solid #ffffff;
		
	}
	nav > ul
	{
	   /*  margin: 0 auto;  no longer need to slide on resize*/
	   margin-left:100px;
		width: 800px;
	
		height:100%;
		display:table;
	
	
	
	}
	nav > ul > li
	{
		height:100%;
		border:1px solid white;
		display:table-cell;
		vertical-align: middle;
	}
	
	nav ul li div div
	{
			
		left:0px;
		position:relative;
		margin-bottom:10px;
		
	}
	
	nav ul li div table div {
		
		left:0px;
		position:relative;
		margin-bottom:10px;
	}
	
	nav > ul > li:hover > a {  /* swap ":hover" with ".active" to allow this to work as a class */
		background-color: rgb(2,69,37);
	}
	nav > ul > li:hover > div { /* swap ":hover" with ".active" to allow this to work as a class */
		left: 0;
		/* color:green; */
	}	
	nav td{vertical-align:top;}
	/* ====================================== */
	/* end top nav */
	/* ====================================== */
	
	
	/* ====================================== */
	/* rotator  */
	/* ====================================== */
	
	
	
	.PSRotSelected
	{
		/* background-color:#B9D2EE;*/
		font-weight:bold;
		padding:7px;
		background-color:#F1F1E9;
	}
	.PSRotNotSelected
	{
	
		padding:7px;
		background-color:#F1F1E9;
	}
	.PSRotNotSelected > a,.PSRotNotSelected > a,.PSRotNotSelected > a:hover,.PSRotNotSelected > a:active,.PSRotNotSelected > a:visited
	{
		color:#0072c6;
	}
	
	#rotLeftImage{
		
		height:255px;
		
	}
	.rotImage{
		height:255px;
		
	}
	#rotRightTable{
		border: none;
		
	}
	
	
	
	#rotCentre
	{
		padding: 0px 15px 0px 15px;
		
	}
	
	.PSRotator{
		width:790px;
		margin-right:40px;
		border-style: solid !important;
		border-color: #DFD9D2 !important;
		border-width: 1px !important;	
		
	}
	#rotLeftContent{}
	#rotLeftTitle{}
	#rotLeftSubTitle{}
	#rotRight{
		padding: 0px;
		background-color:#F1F1E9;
	}
	
	/* ====================================== */
	/* end rotator */
	/* ====================================== */
	